# ARARA Robust Universe (69 ativos)

name: ARARA_ROBUST
description: |
  Universo completo usado nas variações robustas da carteira ARARA. Mantém
  os mesmos 69 ETFs do metadata oficial, incluindo as exposições spot de
  Bitcoin/Ethereum.

tickers:
  - SPY
  - QQQ
  - IWM
  - EFA
  - VGK
  - VPL
  - EWJ
  - EWG
  - EEM
  - EWZ
  - INDA
  - MCHI
  - EWU
  - EZA
  - XLC
  - XLY
  - XLP
  - XLE
  - XLF
  - XLV
  - XLK
  - XLI
  - XLB
  - XLRE
  - XLU
  - USMV
  - MTUM
  - QUAL
  - VLUE
  - SIZE
  - VYM
  - SCHD
  - SPLV
  - VUG
  - VTV
  - VNQ
  - VNQI
  - O
  - PSA
  - SHY
  - IEI
  - IEF
  - TLT
  - TIP
  - VGSH
  - VGIT
  - AGG
  - MUB
  - LQD
  - HYG
  - VCIT
  - VCSH
  - EMB
  - EMLC
  - BNDX
  - GLD
  - SLV
  - PPLT
  - DBC
  - USO
  - UNG
  - DBA
  - CORN
  - UUP
  - IBIT
  - ETHA
  - FBTC
  - GBTC
  - ETHE
